/* Step 1- to configure an element to be animated
using the shortcut animation property which combinds name, duration, iteration count, and timing function into one line */ 

#animated-emoji{
    font-size: 40px;
    display: inline-block; /* spin in place */
    animation: move-emoji 2s infinite ease-in-out; 
}
/* step 2- define an animation sequence */
@keyframes move-emoji {
    0% {
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg) scale(2);
    }
    100%{
        transform:rotate(360deg);
    }
}





/* STEP 1 is to configure an element to be animated*/
#animated-shape{
    background: skyblue;
    width: 200px;
    height:200px;
    /* sub-properties to attach an animation*/
    animation-name: colorchange-alt; 
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
/*STEP 2 is to define an animation sequence*/
@keyframes colorchange {
    from {background:skyblue;}
    to{background:purple;}
}
@keyframes colorchange-alt {
    0% {backgrund:skyblue;}
    50% {
        background:purple;
        transform: scale(0.5)rotate(360deg);
    }
    100% {background:skyblue;}
}

.box {
    background: lightblue;
    margin: 20px; 
    width: 100px; 
    height: 100px;
    text-align: center; 
}

/* To make it look better, add flexbox */ 
/* TRANSFORM is a property with function values that change elements in various ways */ 

#rotate {
    transform: rotate(-21deg);
}

#scale{
    transform: scale(.5);
    /* scale (1) is original, scale less than 1 is smaller and greater than 1 is bigger */ 
}

#skewed{
    transform:skew(-21deg);
}

#translated{
    transform:translate(210px,-30px);
    /* translate(x) moves to the right (if x is positive) translate (x,y) moves diagonally, translate (0,y) moves down (only along Y axis) */
}

/* you can chain multiple trnsoforms on the same element */
#chain{
    transform: rotate(5deg); skew (10deg); 
}

